@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");

body {
    background: #FDFAFF;
    font-family: Courier New;
    margin: 0;
    color: #222;
    padding: 10px;
}

h2 {
    font: bolder 24px "Noto Sans JP", sans-serif;
}

p {
    font: lighter 15px "Noto Sans JP", sans-serif;
}

a {
    color: #9800FF;
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid #9800FF;
}

.footer {
    border-top: 1px solid #333;
}

::selection {
    background: #EBCCFF;
    color: #222;
}
